div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-lg-12
      h1.page-header Your Appointments:
      .well.well-sm
        .list-group
          a.list-group-item(ng-repeat="appointment in userAppointments | orderBy:'dueDate'", href="")
            h4.list-group-item-heading
              {{businessNames[appointment._businessId]}}
            p.list-group-item-text
              {{(appointment.dueDate) | date:'MMM, dd yyyy HH:mm a'}}

  .row
    .col-lg-12
      h3 Add an appointment
      form.appointment-form
        p.input-group
          .appointment-datepicker
            .well.well-sm
              //- select options for business type
              .list-group
                a.list-group-item(ng-repeat="business in businesss", href="", ng-click="selectBusiness(business._id)", ng-class="{'active':business._id===selectedBusiness}")
                  h4.list-group-item-heading
                    {{business.name}}
                  p.list-group-item-text
                    {{business.info}}

            .well.well-sm(ng-show="!!selectedBusiness")
              datepicker(ng-model="newAppointmentTimestamp", min-date="minDate", ng-click="populateBookedTimeSlots()")
              .list-group
                a.list-group-item(ng-repeat="timeSlot in timeSlots", href="", ng-click="setAppointmentTime(timeSlot)", ng-class="{'active':timeSlot===selectedTimeSlot, 'disabled':(bookedTimeSlots.indexOf(timeSlot) > -1)}")
                  h4.list-group-item-heading
                    {{timeSlot % 12 || 12}} {{$index > 2 ? 'PM' : 'AM'}}
                  p.list-group-item-text
                    {{(bookedTimeSlots.indexOf(timeSlot) === -1) ? "Book Appointment" : "Not Available"}}
                    
              span.input-group-btn
                button.btn.btn-primary(type='submit', ng-click='addAppointment()', ng-disabled='!selectedTimeSlot') Add New Appointment
  
footer.footer
  .container
    p
      | Spot On v0.1
      = ' | '
      a(href='https://twitter.com/ashsidhu') @ashsidhu
      = ' | '
      a(href='https://github.com/ashsidhu/2014-10-solo') Issues